* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.page--board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.page__title {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 800;
}

.page__description {
  color: lighten(#000, 35%);
  font-size: 16px;
  font-weight: 500;
}

.btn {
  padding: 8px 18px;
  background-color: #000;
  border-radius: 8px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: .25s;

  &:hover {
    background-color: lighten(#000, 20%);
  }

  &:focus {
    background-color: lighten(#000, 35%);
    transform: scale(.96);
  }
}

@media (min-width: 560px) {
  .page__title {
    margin-bottom: 8px;
    font-size: 36px;
  }

  .page__description {
    font-size: 22px;
  }

  .btn {
    padding: 10px 26px;
    font-size: 16px;
    border-radius: 12px;
  }
}
